<!DOCTYPE html>

<html>
<head>
	
	<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css">
  	
	<script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
	<script type="text/javascript" src = "homeFunctions.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<style>
		
		#name{
			background-color: #efefef;
;
		}
		
		h1.sanserif {
		font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
		text-align: center;
		padding: 5px;
		text-shadow: 2px 2px lightgray;
		}

		.carousel-inner > .item > img,
		.carousel-inner > .item > a > img {
		  width: 70%;
		  margin: auto; 
		  border: solid;
		}
		
		.carousel-inner > .item > .carousel-caption{
			font-size: 25px;
			text-shadow: 2px 2px black;
		}
		
  	</style>
	
	<title>VroomMates.com</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
</head>
<body id="name">

	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">		  
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
      			</button>
		  		<a class="navbar-brand" href="#" onclick="history.go(0);">VroomMates</a>
				
				<a class="navbar-brand" href="#" onclick="Profile();">Profile</a>
			</div>
		  	<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" onclick="Login();"><span class="glyphicon glyphicon-log-in"></span> Login/ Sign Up</a></li>
					<li><a href="#" onclick="Logout();"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
	  </div>
	</nav>
	
	
	<h1 class="sanserif">Find your VroomMate now!</h1>
	<br>
	
	<div class="container">
	  
	  <div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  <li data-target="#myCarousel" data-slide-to="1"></li>

		  </ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">

		  <div class="item active">
			<img src="1dCarpool.jpg" width="460" height="345">
			<div class="carousel-caption">
			  <p>Find friends to travel with!</p>
			</div>
		  </div>

			<div class="item">
			<img src="1dCarpool.jpg" width="460" height="345">
			<div class="carousel-caption">
			  <p>Here Lads</p>
			</div>
		  </div>


		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</a>
	  </div>
	</div>
	
	<br>
	<h1 class="sanserif">Just Click Login/ Sign Up above!</h2>

</body>
</html>