<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>

    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkr4cxrw3ZEG098emzdRIfpfNX5rDMg2k&libraries=places"></script>
	<script src="profileFunctions.js"></script>
	<script src="matchFunctions.js"></script>
	
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>VroomMates</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="style.css">

		<style>
			#mapFrame{
				position: relative;
				top:6px;
				width: 100%;
			}
		</style>
	
			
			
			
	</head>
	<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">		  
			<div class="navbar-header">
				
		  		<a class="navbar-brand" href="#" onclick="redirect_Home();">VroomMates</a>
				<a class="navbar-brand" href="#" onclick="redirect_Schedule();">Schedule</a>
			</div>
		  	
	  </div>
	</nav>
		<div class="container">
			<div class="text-center" style="padding:50px 0">
			<div class="logo">Profile</div>
			<div class="login-form-1">
			<div id="register-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
			<div id="infoBox" class="login-group">
		
		
				<div class="form-group">				
					<input type="text" class="form-control" id="firstName" name="reg_username" placeholder="First Name" onClick="this.setSelectionRange(0, this.value.length)" value="">
				</div>
				<div class="form-group">				
					<input type="text" class="form-control" id="lastName" name="reg_username" placeholder="Last Name" onClick="this.setSelectionRange(0, this.value.length)" value="">
				</div>
				<div class="form-group login-group-checkbox">
							<input type="radio"  name="gender" id="genderMale"value="Male">
							<label for="genderMale">Male</label>
							
							<input type="radio"  name="gender" id="genderFemale" value="Female">
							<label for="genderFemale">Female</label>
							
							<input type="radio"  name="gender" id="genderOther" value="Other">
							<label for="genderOther">Other</label>
							
							
				</div>
				<div class="form-group login-group-checkbox">
							<p>Driver</p>
							<input type="radio" class="" name="driver" id="driveryes" value="yes">
							<label for="driveryes">Yes</label>
							
							<input type="radio" class="" name="driver" id="driverno" value="no">
							<label for="driverno">No</label>
				</div>
			
				<div class="form-group">
					<input id="address" placeholder = "Address" class="form-control" type="text" onClick="this.setSelectionRange(0, this.value.length)" value="">
				</div>
			<iframe  id="mapFrame" frameborder="0" style="border:0 color:black" src="matchMap.html"></iframe>
			</div>
			<button type="submit" class="login-button" onclick = "save()"><i class="fa fa-chevron-right"></i></button>
				</div>
				
			</div>
		</div>
		
	</div>
</div>
	</body>
</html>
