<!DOCTYPE html>

<html>
<head>
	
	<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css">
  
	<script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
	<script type="text/javascript" src = "setupMatchFunctions.js"></script>
	<link rel="stylesheet" href="style.css">
	
	
	<div class="container">
			<div class="text-center" style="padding:50px 0">
			
			<div class="login-form-1">
			<div id="register-form" class="text-left">
			<div class="login-form-main-message"></div>
			
				<p id="test" class = "logo">Please wait while we find users you match with....</p>
	</div>
	</div>
	</div>
				
	</div>
  </head>
</html>